{
  "attachments": [
    {
      "color": "{{if eq .Action "add"}}good{{else if eq .Action "update"}}warning{{else}}danger{{end}}",
      "blocks": [
        {
          "type": "header",
          "text": {
            "type": "plain_text",
            "text": "IP Address Change Detected"
          }
        },
        {
          "type": "section",
          "text": {
            "type": "mrkdwn",
            "text": "*{{.Action | toTitle}} - {{.Reason | toTitle}}*"
          }
        },
        {
          "type": "section",
          "fields": [
            {
              "type": "mrkdwn",
              "text": "*Agent ID:*\n{{.Agent.ID}}"
            },
            {
              "type": "mrkdwn",
              "text": "*Hostname:*\n{{.Agent.Hostname}}"
            },
            {
              "type": "mrkdwn",
              "text": "*Type:*\n{{if .IsExternal}}External IP{{else}}Interface IP{{end}}"
            },
            {
              "type": "mrkdwn",
              "text": "*{{if .IsExternal}}IP Version{{else}}Interface{{end}}:*\n{{if .IsExternal}}{{.Version}}{{else}}{{.InterfaceName}}{{end}}"
            }
          ]
        },
        {{if or .OldAddrs .NewAddrs}}{
          "type": "section",
          "fields": [
            {{if .OldAddrs}}{
              "type": "mrkdwn",
              "text": "*Old IPs:*\n{{join .OldAddrs "\n"}}"
            }{{end}}
            {{if and .OldAddrs .NewAddrs}},{{end}}
            {{if .NewAddrs}}{
              "type": "mrkdwn",
              "text": "*New IPs:*\n{{join .NewAddrs "\n"}}"
            }{{end}}
          ]
        },{{end}}
        {
          "type": "context",
          "elements": [
            {
              "type": "mrkdwn",
              "text": "Changed at: {{.Timestamp | formatTime}}"
            }
          ]
        }
      ]
    }
  ]
}
