{
  "embeds": [
    {
      "title": "IP Address Change Detected",
      "description": "{{.Action | toTitle}} - {{.Reason | toTitle}}",
      "color": {{if eq .Action "add"}}3066993{{else if eq .Action "update"}}16776960{{else}}15158332{{end}},
      "fields": [
        {
          "name": "Agent ID",
          "value": "{{.Agent.ID}}",
          "inline": true
        },
        {
          "name": "Hostname",
          "value": "{{.Agent.Hostname}}",
          "inline": true
        },
        {
          "name": "Type",
          "value": "{{if .IsExternal}}External IP{{else}}Interface IP{{end}}",
          "inline": true
        },
        {
          "name": "{{if .IsExternal}}IP Version{{else}}Interface{{end}}",
          "value": "{{if .IsExternal}}{{.Version}}{{else}}{{.InterfaceName}}{{end}}",
          "inline": true
        },
        {{if .OldAddrs}}{
          "name": "Old IPs",
          "value": "{{join .OldAddrs '\n'}}",
          "inline": true
        },{{end}}
        {{if .NewAddrs}}{
          "name": "New IPs",
          "value": "{{join .NewAddrs '\n'}}",
          "inline": true
        }{{end}}
      ],
    "footer": {
      "text": "Wameter Monitoring"
    },
    "timestamp": "{{.Timestamp | formatTime}}"
    }
  ]
}
